[submodule "third_party/go-llama.cpp"]
	path = infrastructure/third_party/go-llama.cpp
	url = https://github.com/go-skynet/go-llama.cpp.git
[submodule "third_party/arrow"]
	path = infrastructure/third_party/arrow
	url = https://github.com/apache/arrow.git
[submodule "third_party/go-arrow"]
	path = infrastructure/third_party/go-arrow
	url = https://github.com/apache/arrow-go.git
[submodule "third_party/elasticsearch"]
	path = infrastructure/third_party/elasticsearch
	url = https://github.com/elastic/elasticsearch.git
[submodule "third_party/Glean"]
	path = infrastructure/third_party/Glean
	url = https://github.com/facebookincubator/Glean.git
[submodule "third_party/go-hdb"]
	path = infrastructure/third_party/go-hdb
	url = https://github.com/SAP/go-hdb.git
[submodule "third_party/langchain"]
	path = infrastructure/third_party/langchain
	url = https://github.com/langchain-ai/langchain.git
[submodule "third_party/langflow"]
	path = infrastructure/third_party/langflow
	url = https://github.com/langflow-ai/langflow.git
[submodule "third_party/langgraph"]
	path = infrastructure/third_party/langgraph
	url = https://github.com/langchain-ai/langgraph.git
[submodule "third_party/goose"]
	path = infrastructure/third_party/goose
	url = https://github.com/block/goose.git
[submodule "third_party/langextract"]
	path = infrastructure/third_party/langextract
	url = https://github.com/google/langextract.git
[submodule "infrastructure/third_party/sql-parser-go"]
	path = infrastructure/third_party/sql-parser-go
	url = https://github.com/Chahine-tech/sql-parser-go.git
