version: "3.9"
services:
  hana:
    build:
      context: ..
      dockerfile: hana/Dockerfile
    environment:
      - HANA_DSN=${HANA_DSN}
      - PORT=8083
    ports:
      - "8083:8083"

  gateway:
    build:
      context: ../gateway
    environment:
      - HANA_URL=http://hana:8083
      - GATEWAY_PORT=8000
    ports:
      - "8000:8000"
    depends_on:
      - hana


