/* SAP 72 and SAP-icons local font declarations for Extension (unpacked/dev)
   Place these font files in this folder:
   - 72-Regular.woff2
   - 72-Bold.woff2
   - SAP-icons.woff2
*/

@font-face {
  font-family: '72';
  src: url('./72-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: '72';
  src: url('./72-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SAP-icons';
  src: url('./SAP-icons.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
